/**
 * @package sporty
 * @since sporty 1.0
 *
 */
#wrap {
	border-top: 8px solid #6699CC;
}

.main-navigation li:hover > a,
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a,
.main-navigation ul ul a:hover {
	color: #66CCFF;
}

#primary {
	border-top: 4px solid #6699CC;
}
.sticky h1 {
	border-bottom: 6px solid #69C;
}
.stickymore a:hover {
	color: #6CF;
}
.featuretext_top {
	background-color: #333;
}
.featuretext_top h3 {
	color: #FFF;
}
.home_widget h4 {
	border-bottom: 7px solid #69C;
}
.site-footer {
	border-top: 4px solid #6699CC;
}
.main-small-navigation li:hover > a,
.main-small-navigation li.current_page_item a,
.main-small-navigation li.current-menu-item a,
.main-small-navigation ul ul a:hover {
	color: #66CCFF;
}
.entry-content a, .entry-content a:visited, .entry-summary a, .entry-summary a:visited {
    color: #69C;
}
